<div class="name">
  <%= @station.name %>
</div>
<div class="address">
  <%= @station.address %>
</div>
<div class="fuel-type">
  <%= @station.fuel_type %>
</div>
<div class="access-times">
  <%= @station.access_times%>
</div>
<div class="distance">
  <%= @map.distance %>
</div>
<div class="travel-time">
  <%= @map.travel_time %>
</div>
<div class="directions">
  <%= @map.directions %>
</div>
